const tabsView = `
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./board.html">Board</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./index.html">ARCHIVE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./guide.html">GUIDE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./helper.html">HELPER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./setting.html">SETUP </a>
        </li>
    </ul>
</div>
`